[Unit]
Description=glycosmos開発用proxy

[Service]
Type=simple
ExecStart=ssh -ND 1080 -o ServerAliveInterval=60 fumidai

[Install]
WantedBy=default.target

