[submodule ".ssh"]
	path = .ssh
  url = git@github.com:akihirof0005/.ssh.git
  ignore = dirty
[submodule ".bin"]
	path = .bin
  url = git@github.com:akihirof0005/.bin.git
  ignore = dirty
[submodule "xmonad"]
	path = .xmonad
	url = git@github.com:akihirof0005/my-xmonad.git
