[submodule ".xmonad/xmobar-git"]
	path = .xmonad/xmobar
	url = https://codeberg.org/xmobar/xmobar.git
[submodule ".xmonad/xmonad-git"]
	path = .xmonad/xmonad
	url = https://github.com/xmonad/xmonad
[submodule ".xmonad/xmonad-contrib-git"]
	path = .xmonad/xmonad-contrib
	url = https://github.com/xmonad/xmonad-contrib
[submodule ".ssh"]
	path = .ssh
  url = git@github.com:akihirof0005/.ssh.git
  ignore = dirty
[submodule ".bin"]
	path = .bin
  url = git@github.com:akihirof0005/.bin.git
  ignore = dirty
