.xmonad/xmonad.errors
.xmonad/xmonad.hi
.xmonad/xmonad.o
.xmonad/xmonad-x86_64-linux
.xmonad/--recompile
.xmonad/.stack-work/
.xmonad/stack.yaml.lock

.bin
.ssh
.stack

.config/Code - OSS/
.config/Gmail Desktop/
.config/Pragli/
.config/Slack/
.config/Thunar/
.config/autostart/
.config/cef_user_data/
.config/coc/
.config/configstore/
.config/dconf/
.config/discord/
.config/fcitx/
.config/google-chrome/
.config/gtk-3.0/bookmarks
.config/menus/
.config/mimeapps.list
.config/mozc/
.config/nvim/.netrwhist
.config/pavucontrol.ini
.config/pulse/
.config/skypeforlinux/
.config/xfce4/
.xmonad/xmonad-x86_64-linux

.gradle

build
