[submodule ".xmonad/xmobar-git"]
	path = .xmonad/xmobar-git
	url = https://github.com/jaor/xmobar.git
[submodule ".xmonad/xmonad-git"]
	path = .xmonad/xmonad-git
	url = https://github.com/xmonad/xmonad
[submodule ".xmonad/xmonad-contrib-git"]
	path = .xmonad/xmonad-contrib-git
	url = https://github.com/xmonad/xmonad-contrib
[submodule ".ssh"]
	path = .ssh
	url = git@github.com:akihirof0005/.ssh.git
[submodule ".bin"]
	path = .bin
	url = git@github.com:akihirof0005/.bin.git
