{
  "languages": {
  "perl5":{
      "enable":false,
      "version": "5.34.0",
      "modules": [
        ""
      ]
    },
    "haskell": {
      "enable" : false
    },
    "rust": {
      "enable" : false
    },
    "ruby": {
      "enable": false,
      "version": "3.0.1",
      "modules": [
        "solargraph"
      ]
    },
    "nodejs": {
      "enable": false,
      "version": "14.17.0",
      "modules": []
    },
    "jvm": {
      "enable": false,
      "version": "11.0.10",
      "modules": ["gradle"]
    }
  }
}
